body {
    display: flex;
    align-items: center; /* จัดให้อยู่ตรงกลางแนวนอน */
    justify-content: center; /* จัดให้อยู่ตรงกลางแนวตั้ง */
    height: 100vh; /* ใช้พื้นที่เต็มจอ */
    background-image: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExMnd3MWw2cXl4MXBtOXEzbjBoeDdwcjNmd2Y4ZTZsaTlzcGswZm5xdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/KZFrf9JusXzmpnPsT6/giphy.gif');
    background-size: cover;
    color: #fff;
    font-family: 'CounterStreamDemoRegular';
    justify-content: center;
    margin: 20px;
}
.header {
    font-weight: bold;
        font-size: 46px;
        text-align: center;
        margin-bottom: 30px;    
    }
.gender-form {
        font-size: 16px;
        width: 80px;
    }
.header-form {
        font-size: 16px;
        width: 100px;
    
    }
    
.flex.form-input {
        
        display: flex;
        margin-bottom: 10px;
        
    }
    
.button-container {
        display: flex;
        justify-content: center; /* จัดให้อยู่ตรงกลาง */
        align-items: center;
        flex-wrap: wrap; /* ป้องกันการล้นขอบ */
    }
    
input.form,textarea {
       
        border-radius: 10px;
        width: 100%;
    }
    
.center {
        text-align: center;
        width: 100%;
        
    } 

.Gif{
    background-image:url('https://media.tenor.com/hWVqJl31yA8AAAAM/web-webdevelopper.gif');
    background-size: cover;
    opacity: 0.5;
    width: 200px;
    height: 140px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 8%;
    top: 850px;
    border-radius: 10px;
}
.form-name{
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    height: 25%;
}
.background{
    width: 420px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    box-shadow: 0 0 80px rgba(0, 118, 197, 0.47);
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    box-shadow: 0 0 80px rgb(172, 123, 51);
    right: -80px;
    bottom: -80px;
}
.container {
    border-radius: 20px;
    height: 530px;
    width: 400px;
    max-width: 800px;
    padding: auto;
}
.form-input{

    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #


}

.form-age{
    font-size: 16px;
    width: 25%; 
    height: 25px;
    border-radius: 10px;
}
form {
    height: 520px; // ปรับความสูงของ form
    width: 400px;// ปรับความกว้างของ form
    background-color: rgba(255, 255, 255, 0.29);// ปรับสีพื้นหลังของ form
    position: absolute; //
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 20px;
    backdrop-filter: blur(50px);
    border: 2px solid rgba(255, 255, 255, 0);
    box-shadow: 0 0 80px rgba(255, 255, 255, 0.48);
    padding: 50px 35px;
}


.button  {
    display: block;
    padding: 10px;
    font-size: 16px;
    background-color: lightblue;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    height: 40px;
    border-radius: 10px;

}
button:hover {
    background-color:#23a2f6;
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );

}
.User-MG button {
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;  
    
}
.message {
    position: fixed;
    top: 10px;
    right: -250px;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    display: none; 
}

.message.success {
    
    background-color: #d4edda;
    color:rgb(150, 150, 150);
    color: lightgreen ;
    display: block;
    border-radius: 10px;
}
.message.danger {
    background-color:rgba(190, 2, 18, 0.31);
    display: block;
    border-radius: 10px;
}

.position_center{
    margin-top: 20px;
    text-align: center;
    
}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction:;
    }
    .header{
        font-size: 40px;
    }
    .button{
        width: 100%
    }
    .form-input{
        width: 100%;
    }
    .form-age{
        width: 50%;
    }
    
}
